.subtitle {
    font-size: 1em;
    color: #9085a1;
}

.title {
    font-size: 10em;
    color: #6a13e4;
    align-content: center;
    text-align: center;
}

.card {
    margin-top: 50px;
}

.boton {
    margin-top: 50px;
}

.my-custom-class {
    --background: #646262;
}